[class*="col-"] {
    padding: 0 !important;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.nav-item:hover .nav-link {
    background-color: #f8f8f8;
}

.main-nav {
    position: relative;
}

.main-nav:hover .sub-nav {
    display: block;
}

.sub-nav {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 999;
    border: 1px solid #ccc;
    padding: 0;
}